<div class="container">
    <div class="heading">
        <h1>Donor Records</h1>
        <button type="button" class="btn btn btn-dark"  (click)="createRecordmodal()">Add Donor
          +</button>
    </div>
    <div class="loading-indicator" *ngIf="loading">
      <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>


    <div class="alert alert-info" *ngIf="!loading && info && !errorMessage ">
        {{info}}
    </div>

    <div class="alert alert-danger" *ngIf="!loading && !info && errorMessage ">
        {{errorMessage}}
    </div>
    <div class="mat-elevation-z8" *ngIf="!loading && !info && !errorMessage">
        <div class="mat-toolbar">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Community">
          </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
     
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.fullName || 'N/A'  }}</td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
            <td mat-cell *matCellDef="let element">{{ element.username || 'N/A' }}</td>
          </ng-container>
    
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email || 'N/A' }}</td>
          </ng-container>

          <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</th>
            <td mat-cell *matCellDef="let element">{{ element.enabled  || 'N/A'}}</td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
            <td mat-cell *matCellDef="let element">{{ element.role.roleName  || 'N/A'}}</td>
          </ng-container>
      
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <span class="mat-icon-button" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </span>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="edit(element);updateRecordmodal();">Edit</button>
                </mat-menu>
            </td>
        </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>


      <!-- Create Record -->
    <div class="modal" id="createRecord" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Create Record</h3>
                  <button type="button" class="mr-auto close btn btn btn-outline-dark" data-dismiss="modal"
                      aria-label="Close" (click)="hidecreateRecordmodal()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form class="recordform" (ngSubmit)="createRecord()" #createForm="ngForm">
                      <div class="form-group">
                          <label for="fullName">Full Name:</label>
                          <input type="text" id="fullName" name="fullName" [(ngModel)]="fullName" required>
                      </div>
                      <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="text" id="email" name="email" [(ngModel)]="email" required>
                      </div>
                      <div class="form-group">
                          <label for="password">Password:</label>
                          <div class="password-input">
                              <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password"
                                  [(ngModel)]="password" required>
                              <span class="toggle-btn" (click)="togglePasswordVisibility()">
                                  <i class="fa"
                                      [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></i>
                              </span>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="submit" [disabled]="createForm.invalid || loading">
                              <span *ngIf="!loading">Submit</span>
                              <span *ngIf="loading">Processing......</span>
                          </button>
                      </div>
                  </form>
              </div>

          </div>
      </div>
  </div>

      <!-- Update Record -->
      <div class="modal" id="updateRecord" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Edit Record</h3>
                    <button type="button" class="mr-auto close btn btn btn-outline-dark" data-dismiss="modal"
                        aria-label="Close" (click)="hideupdateRecordmodal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="recordform" (ngSubmit)="updateRecord()" #updateForm="ngForm">
                        <div class="form-group">
                            <label for="fullName">Full Name:</label>
                            <input type="text" id="fullName" name="fullName" [(ngModel)]="fullName" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" [(ngModel)]="email" required>
                        </div>
                        <!-- <div class="form-group">
                            <label for="password">Password:</label>
                            <div class="password-input">
                                <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password"
                                    [(ngModel)]="password" required>
                                <span class="toggle-btn" (click)="togglePasswordVisibility()">
                                    <i class="fa"
                                        [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></i>
                                </span>
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <label for="selectedProduct">Role</label>
                            <select [(ngModel)]="selectedRole" name="selectedProduct" [value]="selectedRole"
                                class="form-select" required>
                                <option *ngFor="let r of roleResponse" [value]="r.roleName">
                                    {{r.roleName}}</option>
                            </select>
                        </div> -->
                        <div class="modal-footer">
                            <button type="submit" [disabled]="updateForm.invalid || loading">
                                <span *ngIf="!loading">Submit</span>
                                <span *ngIf="loading">Processing......</span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

      
</div>
