<app-navbarhome></app-navbarhome>
<div class="body container">

    <h2 style="text-align:center">User Profile Card</h2>

    <div class="card" *ngIf="!profileForm && !profileEditForm && !editPassword">
        <svg *ngIf="volunteer?.skills" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="edit"  (click)="showEditProfileForm()">
            <g clip-path="url(#clip0_1_11067)">
                <path d="M14.604 5.68738L0 20.2904V24.0004H3.71L18.313 9.39638L14.604 5.68738Z" fill="#374957" />
                <path
                    d="M23.232 0.767738C22.7399 0.275916 22.0727 -0.000366211 21.377 -0.000366211C20.6813 -0.000366211 20.014 0.275916 19.522 0.767738L16.022 4.27274L19.731 7.98174L23.231 4.48174C23.4752 4.23809 23.6689 3.94868 23.8011 3.63007C23.9334 3.31146 24.0015 2.9699 24.0016 2.62494C24.0017 2.27999 23.9337 1.9384 23.8017 1.61972C23.6696 1.30104 23.476 1.01152 23.232 0.767738Z"
                    fill="#374957" />
            </g>
            <defs>
                <clipPath id="clip0_1_11067">
                    <rect width="24" height="24" fill="white" />
                </clipPath>
            </defs>
        </svg>
        <span><svg xmlns="http://www.w3.org/2000/svg" width="164" height="164" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_1_9746)">
                    <path
                        d="M19.6298 18.2624C18.6333 16.6569 16.4398 14.9363 11.9559 14.9363C7.47195 14.9363 5.27981 16.6555 4.28198 18.2624C5.20134 19.4149 6.36875 20.3453 7.69736 20.9844C9.02597 21.6234 10.4816 21.9546 11.9559 21.9534C13.4302 21.9546 14.8858 21.6234 16.2144 20.9844C17.543 20.3453 18.7104 19.4149 19.6298 18.2624Z"
                        fill="black" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.9568 13.5328C13.0735 13.5328 14.1444 13.0892 14.9339 12.2997C15.7235 11.5101 16.1671 10.4392 16.1671 9.32256C16.1671 8.20593 15.7235 7.13504 14.9339 6.34546C14.1444 5.55588 13.0735 5.1123 11.9568 5.1123C10.8402 5.1123 9.76931 5.55588 8.97974 6.34546C8.19016 7.13504 7.74658 8.20593 7.74658 9.32256C7.74658 10.4392 8.19016 11.5101 8.97974 12.2997C9.76931 13.0892 10.8402 13.5328 11.9568 13.5328Z"
                        fill="black" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.9568 2.30552C9.35138 2.30552 6.85262 3.34054 5.01027 5.18288C3.16793 7.02523 2.13291 9.52398 2.13291 12.1295C2.13291 14.7349 3.16793 17.2337 5.01027 19.076C6.85262 20.9184 9.35138 21.9534 11.9568 21.9534C14.5623 21.9534 17.0611 20.9184 18.9034 19.076C20.7458 17.2337 21.7808 14.7349 21.7808 12.1295C21.7808 9.52398 20.7458 7.02523 18.9034 5.18288C17.0611 3.34054 14.5623 2.30552 11.9568 2.30552ZM0.729492 12.1295C0.729492 9.15177 1.91237 6.29605 4.01791 4.19052C6.12345 2.08498 8.97917 0.9021 11.9568 0.9021C14.9345 0.9021 17.7902 2.08498 19.8958 4.19052C22.0013 6.29605 23.1842 9.15177 23.1842 12.1295C23.1842 15.1071 22.0013 17.9629 19.8958 20.0684C17.7902 22.1739 14.9345 23.3568 11.9568 23.3568C8.97917 23.3568 6.12345 22.1739 4.01791 20.0684C1.91237 17.9629 0.729492 15.1071 0.729492 12.1295Z"
                        fill="black" />
                </g>
                <defs>
                    <clipPath id="clip0_1_9746">
                        <rect width="22.4547" height="22.4547" fill="white" transform="translate(0.729492 0.9021)" />
                    </clipPath>
                </defs>
            </svg></span>
        <h1>{{fullName}}</h1>
        <p class="title">{{roleName}}</p>
        <p *ngIf="volunteer?.phone"> <span style="color:gray">Contact : </span> <span style="font-weight: bold;">{{volunteer.phone}}</span></p>
        <p > <span style="color:gray">Email : </span> <span style="font-weight: bold;">{{email}}</span></p>
        <div *ngIf="volunteer?.skills"><span style="color:gray">Skills : </span>
            <span *ngFor="let s of volunteer.skills">
                <span style="font-weight: bold;">{{s}},</span>
            </span>
        </div>
        <br>
        <p  *ngIf="!volunteer?.skills"><button (click)="showProfileForm()">Add Skills To Profile</button></p>
    </div>


    <form class="login-form" (ngSubmit)="createVolunteer()" #profileForm="ngForm" *ngIf="profileForm && !profileEditForm && !editPassword">
        <h2>Add To Profile</h2>
        <div class="form-group" hidden>
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" [(ngModel)]="fullName" required readonly>
        </div>
        <div class="form-group" hidden>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" [(ngModel)]="email" required readonly>
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" [(ngModel)]="phone" required>
        </div>
        <div class="form-group">
            <label for="skills">Skills:</label>
            <input type="text" id="skillInput" name="skillInput" [(ngModel)]="skillInput" required>
        </div>
        <button type="submit" [disabled]="profileForm.invalid || loading">
            <span *ngIf="!loading">Submit</span>
            <span *ngIf="loading">Processing......</span>
        </button>
        <div class="additional-links">
            <a (click)="hideProfileForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_1_10487)">
                        <path
                            d="M23.9999 13V11L2.55489 11.031L6.8769 6.70697L5.46289 5.29297L0.876895 9.87897C0.314481 10.4416 -0.00146484 11.2045 -0.00146484 12C-0.00146484 12.7955 0.314481 13.5584 0.876895 14.121L5.46289 18.707L6.8769 17.293L2.61489 13.031L23.9999 13Z"
                            fill="#374957" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_10487">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                Back To My Account</a>
        </div>
    </form>

    <form class="login-form" (ngSubmit)="updateVolunteer()" #profileEditForm="ngForm" *ngIf="!profileForm && profileEditForm && !editPassword">
        <h2>Edit</h2>
        <div class="form-group" hidden>
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" [(ngModel)]="fullName" required readonly>
        </div>
        <div class="form-group" hidden>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" [(ngModel)]="email" required readonly>
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" [(ngModel)]="phone" required>
        </div>
        <div class="form-group">
            <label for="skills">Skills:</label>
            <input type="text" id="skillInput" name="skillInput" [(ngModel)]="skillInput" required>
        </div>
        <button type="submit" [disabled]="profileEditForm.invalid || loading">
            <span *ngIf="!loading">Submit</span>
            <span *ngIf="loading">Processing......</span>
        </button>
        <div class="additional-links">
            <a (click)="hideEditProfileForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_1_10487)">
                        <path
                            d="M23.9999 13V11L2.55489 11.031L6.8769 6.70697L5.46289 5.29297L0.876895 9.87897C0.314481 10.4416 -0.00146484 11.2045 -0.00146484 12C-0.00146484 12.7955 0.314481 13.5584 0.876895 14.121L5.46289 18.707L6.8769 17.293L2.61489 13.031L23.9999 13Z"
                            fill="#374957" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_10487">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                Back To My Account</a>
                <br>
                <a (click)="showEditPasswordForm()"><h6>Change Password</h6></a>
        </div>
    </form>



    <form class="login-form" (ngSubmit)="editPass()" #editPasswordForm="ngForm" *ngIf="!profileForm && profileEditForm && editPassword">
        <h2>Edit Password</h2>
        <div class="form-group">
            <label for="password">New Password:</label>
            <div class="password-input">
                <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password"
                    [(ngModel)]="password" required>
                <span class="toggle-btn" (click)="togglePasswordVisibility()">
                    <i class="fa" [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></i>
                </span>
            </div>
        </div>
        <button type="submit" [disabled]="editPasswordForm.invalid || loading">
            <span *ngIf="!loading">Submit</span>
            <span *ngIf="loading">Processing......</span>
        </button>
        <div class="additional-links">
            <a (click)="hideEditPasswordForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_1_10487)">
                        <path
                            d="M23.9999 13V11L2.55489 11.031L6.8769 6.70697L5.46289 5.29297L0.876895 9.87897C0.314481 10.4416 -0.00146484 11.2045 -0.00146484 12C-0.00146484 12.7955 0.314481 13.5584 0.876895 14.121L5.46289 18.707L6.8769 17.293L2.61489 13.031L23.9999 13Z"
                            fill="#374957" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_10487">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                Back To My Account</a>
        </div>
    </form>

</div>
<app-footer></app-footer>