.body {
  background: #f4f4f4;
  min-height: 80vh;
  margin-top: 2rem;
  overflow: hidden;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 550px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.edit {
  margin-left: 5px;
  margin-top: 4px;
  cursor: pointer;
}


.login-form {
  width: 450px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  justify-content: center;
  margin-left: 30%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
  /* Medium gray text color */
}

input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  /* Light gray border */
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #007bff;
  /* Blue border color on focus */
}

.additional-links {
  margin-top: 20px;
  text-align: center;
}

.additional-links a {
  color: #414141;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

.additional-links a:hover {
  color: #0056b3;
  cursor: pointer;
  text-decoration: underline;
  /* Darker blue color on hover */
}