<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['', { outlets: { outlet1: ['home'] } }]"style="margin-right:20rem;margin-left: 2rem;border-radius: 50px;border: 1px solid black;padding:8px">HH</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav mr-auto" >
        </ul>
        <div class="my-2 my-lg-0" style="margin-right:2rem;">
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> {{fullName}}
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" [routerLink]="['', { outlets: { outlet1: ['cart'] } }]">Cart</a>
                    <a class="dropdown-item" [routerLink]="['', { outlets: { outlet1: ['history'] } }]">History</a>
                    <a class="dropdown-item" [routerLink]="['', { outlets: { outlet1: ['profile'] } }]">Account Settings</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>




<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <!-- <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <img src="../../../assets/images/fi-ss-stop.png">
        </button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed"> S&L </div>
        <button class="btn-close" *ngIf="collapsed" @rotate (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div> -->

    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navData;">
                <a class="sidenav-nav-link" (click)="handleClick(data)" *ngIf="data.items && data.items.length > 0"
                    [ngClass]="getActiveClass(data)">
                    <i class="sidenav-link-icon" [ngClass]="[data.icon]"></i>
                    <!-- <img class="sidenav-link-icon" src="{{data.icon}}" alt=""> -->
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{ data.label }}
                    </span>
                    <!-- <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
                        [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                    ></i> -->
                    <i *ngIf="data.items && collapsed" class="menu-collapse-icon">
                        <svg *ngIf="!data.expanded" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <path
                                d="M10.8111 18.707L9.40015 17.293L14.6891 12L9.40015 6.70697L10.8151 5.29297L16.1001 10.586C16.4751 10.961 16.6857 11.4696 16.6857 12C16.6857 12.5303 16.4751 13.0389 16.1001 13.414L10.8111 18.707Z"
                                fill="#374957" />
                        </svg>
                        <svg *ngIf="data.expanded" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <path d="M12 8.29492L6 14.2949L7.41 15.7049L12 11.1249L16.59 15.7049L18 14.2949L12 8.29492Z"
                                fill="black" fill-opacity="0.56" />
                        </svg>
                    </i>
                </a>
                <a class="sidenav-nav-link" *ngIf="!data.items || (data.items && data.items.length === 0)"
                    [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <!-- <i class="sidenav-link-icon">{{ data.label.charAt(0).toUpperCase() }}</i> -->
                    <i class="sidenav-link-icon" [ngClass]="[data.icon]"></i>
                    <!-- <img class="sidenav-link-icon" src="{{data.icon}}" alt=""> -->
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{ data.label }}
                    </span>
                </a>
                <div *ngIf="collapsed && data.items && data.items.length > 0">
                    <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple"
                        [expanded]="data.expanded">
                    </app-sublevel-menu>
                </div>
            </li>
        </ul>

    </div>


</div>


